[Unit]
Description=Sentry Main Service
After=network.target
Requires=sentry-worker.service
Requires=sentry-cron.service

[Service]
Type=simple
User=sentry
Group=sentry
Environment=SENTRY_CONF=/etc/sentry
ExecStart=/bin/sentry run web

[Install]
WantedBy=multi-user.target
